//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap | Single Post

//- content
block content
    // BREADCRUMBS
    section#breadcrumbs.region.reset-vertical-gap.widen-top-gap
        .container
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    ol.breadcrumb
                        li 
                            a(href="http://") Home
                        li 
                            a(href="http://") Posts
                        li.active 
                            a(href="http://") Climb leg rub face
                .col-lg-6.col-md-6.col-sm-6.col-xs-6


    // MAIN CONTENT AREA
    section#main-content-area.region.reset-vertical-gap
        .container.site-content

            // MAIN CONTENT
            section#main-content(role="main").full-width-post

                // ARTICLE
                article.post.post-2-column

                    // THE POST
                    .the-post
                        .row 
                            .col-lg-8.col-md-8.col-sm-12.col-xs-12.col-md-offset-2
                                // POST FORMAT ICON
                                .post-meta-aside 
                                    .post-format
                                        i.icon-pushpin.icon-post-format

                                // POST DATE & POST AUTHOR
                                .post-meta 
                                    .post-date
                                        span.post-day 1 
                                        span.post-month September
                                        span.post-year 2013
                                    .post-meta-dot-separator 
                                        | .
                                    span.post-author
                                        a(href="http://") John William Doe

                                // POST TITLE
                                header
                                    h1 Climb leg rub face Veggies sunt bona vobis proinde vos black eyed pea garlic wattle.

                        // POST CONTENT
                        .post-content
                            .row
                                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                    // ABOUT THE AUTHOR & LEFT META INFOS
                                    section.in-post.meta
                                        h4.half-stretched About The Author
                                        div.meta.content
                                            .meta.author
                                                img.author.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                .author.name
                                                    | John William Doe
                                                br
                                                p 
                                                    | Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage.
                                                strong Connect with John William Doe :
                                                br 
                                                .author.social
                                                    a(href="")
                                                        i.icon-twitter
                                                    a(href="")
                                                        i.icon-facebook
                                                    a(href="")
                                                        i.icon-google-plus
                                    // POST CATEGORIES
                                    section.in-post.meta
                                        h4.half-stretched Categories
                                        div.meta.content
                                            p.meta.taxonomy
                                                a(href="http://") Tooklit
                                                a(href="http://") Photography
                                                a(href="http://") ridiculus

                                    // POST TAGS
                                    section.in-post.meta
                                        h4.half-stretched Tags
                                        div.meta.content
                                            p.meta.taxonomy
                                                a(href="http://") aliquet
                                                a(href="http://") imperdiet
                                                a(href="http://") fringilla
                                                a(href="http://") justo
                                                a(href="http://") ligula
                                                a(href="http://") Donec

                                .col-lg-6.col-md-6.col-sm-12.col-xs-12 
                                    p 
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                    img(src="assets/images/blog.jpg", alt="blog image")
                                    span.post-image-caption Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.
                                    h3 Headings
                                    h1 Header one
                                    h2 Header two
                                    h3 Header three
                                    h4 Header four
                                    h5 Header five
                                    h6 Header six
                                    h3 Blockquotes
                                    p Single line blockquote:
                                    blockquote
                                        p Stay hungry. Stay foolish.

                                    p Multi line blockquote with a cite reference:
                                    blockquote
                                        p
                                            | People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things.
                                            cite Steve Jobs – Apple Worldwide Developers’ Conference, 1997

                                    h3 Tables
                                    table.table.table-hover
                                        thead
                                            tr
                                                th Employee
                                                th Salary
                                                th
                                        tbody
                                            tr
                                                th
                                                    a(href='http://example.org/') John Doe
                                                td $1
                                                td Because that’s all Steve Jobs needed for a salary.
                                            tr
                                                th
                                                    a(href='http://example.org/') Jane Doe
                                                td $100K
                                                td For all the blogging she does.
                                            tr
                                                th
                                                    a(href='http://example.org/') Fred Bloggs
                                                td $100M
                                                td Pictures are worth a thousand words, right? So Jane x 1,000.
                                            tr
                                                th
                                                    a(href='http://example.org/') Jane Bloggs
                                                td $100B
                                                td With hair like that?! Enough said…

                                    h3 Definition Lists
                                    dl
                                        dt Definition List Title
                                        dd Definition list division.
                                        dt Startup
                                        dd
                                            | A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.
                                        dt #dowork
                                        dd
                                            | Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.
                                        dt Do It Live
                                        dd
                                            | I’ll let Bill O’Reilly will
                                            a(title='We\'ll Do It Live', href='https://www.youtube.com/watch?v=O_HyZ5aW76c') explain&nbsp;
                                            | this one.

                                    h3 Unordered Lists (Nested)
                                    ul
                                        li
                                            | List item one
                                            ul
                                                li
                                                | List item one
                                                ul
                                                    li List item one
                                                    li List item two
                                                    li List item three
                                                    li List item four
                                                li List item two
                                                li List item three
                                                li List item four
                                        li List item two
                                        li List item three
                                        li List item four

                                    h3 Ordered List (Nested)
                                    ol
                                        li
                                            | List item one
                                            ol
                                                li
                                                    | List item one
                                                    ol
                                                        li List item one
                                                        li List item two
                                                        li List item three
                                                        li List item four
                                                li List item two
                                                li List item three
                                                li List item four
                                        li List item two
                                        li List item three
                                        li List item four
                                    h3 HTML Tags

                                    p
                                        | These supported tags come from the WordPress.com code
                                        a(title='Code', href='http://en.support.wordpress.com/code/') FAQ
                                        | .

                                    p
                                        strong Address Tag

                                    address
                                        strong 1 Infinite Loop
                                        br
                                        | Cupertino, CA 95014
                                        br
                                        | United States
                                        br
                                        abbr(title="Phone") P: 
                                        a(href="tel:1234567890") (123) 456-7890
                                        br
                                        abbr(title="Email") E: 
                                        a(href="maito:mail@mail.com") mail@mail.com

                                    p
                                        strong Anchor Tag (aka. Link)

                                    p
                                        | This is an example of a
                                        a(title='Apple', href='http://apple.com') link
                                        | .
                                    p
                                        strong Abbreviation Tag

                                    p
                                        | The abbreviation
                                        abbr(title='Seriously') srsly&nbsp;
                                        | stands for "seriously".

                                    p
                                        strong Cite Tag

                                    p
                                        | "Code is poetry." –
                                        cite Automattic
                                    p
                                        strong Code Tag
                                    p
                                        | You will learn later on in these tests that
                                        code word-wrap: break-word;
                                        | &nbsp;will be your best friend.
                                    p
                                        strong Delete Tag
                                    p
                                        | This tag will let you
                                        del strikeout text
                                        | , but this tag is no longer supported in HTML5 (use the
                                        code &lt;strike&gt;
                                        | &nbsp;instead).
                                    p
                                        strong Emphasize Tag&nbsp;
                                    p
                                        | The emphasize tag should
                                        em italicize&nbsp;
                                        | text.
                                    p
                                        strong Insert Tag
                                    p
                                        | This tag should denote
                                        ins inserted&nbsp;
                                        | text.
                                    p
                                        strong Keyboard Tag
                                    p
                                        | This scarsly known tag emulates
                                        kbd keyboard text
                                        | , which is usually styled like the
                                        code &lt;code&gt;
                                        | &nbsp;tag.

                                    p
                                        strong Preformatted Tag
                                    p This tag styles large blocks of code.
                                    pre.
                                        .post-title {
                                            margin: 0 0 5px;
                                            font-weight: bold;
                                            font-size: 38px;
                                            line-height: 1.2;
                                            and here's a line of some really, really, really, really long text, just to see how the PRE tag handles it and to find out how it overflows;
                                        }      

                                    p
                                        strong Quote Tag
                                    p
                                        q Developers, developers, developers…
                                        | –Steve Ballmer
                                    
                                    p
                                        strong Strong Tag
                                    p
                                        | This tag shows
                                        strong
                                            | bold
                                            strong  text.
                                    p
                                        strong Subscript Tag
                                    p
                                        | Getting our science styling on with H
                                        sub 2
                                        | O, which should push the "2" down.
                                    p
                                        strong Superscript Tag
                                    p
                                        | Still sticking with science and Isaac Newton’s E = MC
                                        sup 2
                                        | , which should lift the 2 up.

                                    p
                                        strong Variable Tag
                                    p
                                        | This allows you to denote
                                        var variables
                                        | .
                                    p 
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

                                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                    // SHARE POSTS
                                    section.in-post.meta
                                        h4.half-stretched Share this post
                                        div.meta.content
                                            div.meta.social
                                                a(href="")
                                                    i.icon-twitter
                                                a(href="")
                                                    i.icon-facebook
                                                a(href="")
                                                    i.icon-google-plus

                                    //- // RELATED POSTS
                                    //- section.in-post.meta
                                    //-     h4.half-stretched Related Posts
                                    //-     div.meta.content
                                    //-         ul.meta.list 
                                    //-             li 
                                    //-                 a(href="http://") Consectetuer adipiscing elit aenean commodo ligula eget
                                    //-             li 
                                    //-                 a(href="http://") Nulla consequat massa quis enim
                                    //-             li 
                                    //-                 a(href="http://") Caulie courgette garbanzo corn yarrow peanut 
                                    //-             li 
                                    //-                 a(href="http://") Broccoli rabe parsnip groundnut salad coriander
                                    //-             li 
                                    //-                 a(href="http://") Cress welsh onion burdock courgette salad jícama lettuce caulie endive

                                    // COMMENTS & RIGHT META INFOS
                                    section.in-post.meta
                                        h4.half-stretched 
                                            | Comments
                                            .add.comment
                                                a(href="") 
                                                    i.icon-plus
                                        div.meta.content
                                            // COMMENT ITEM
                                            .comment.item
                                                img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                .comment.head
                                                    .author.name
                                                        a(href="") 
                                                            | John William Doe
                                                    .comment.date
                                                        | 1 January 2013
                                                    .reply.comment 
                                                        a(href="") 
                                                            i.icon-reply

                                                .comment.content
                                                    | Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad.

                                            // COMMENT ITEM
                                            .comment.item
                                                img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                .comment.head
                                                    .author.name
                                                        a(href="") 
                                                            | David Goliath 
                                                        span.comment.replied.to
                                                            | in reply to John William Doe
                                                    .comment.date
                                                        | 1 January 2013
                                                    .reply.comment 
                                                        a(href="") 
                                                            i.icon-reply

                                                .comment.content
                                                    | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum.

                                            // COMMENT ITEM
                                            .comment.item
                                                img.comment.avatar.small.pull-left(src="assets/images/avatar.jpg", alt="avatar")
                                                .comment.head
                                                    .author.name
                                                        a(href="") 
                                                            | Keith Awesome
                                                    .comment.date
                                                        | 1 January 2013
                                                    .reply.comment 
                                                        a(href="") 
                                                            i.icon-reply

                                                .comment.content
                                                    | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon.

                                            a.read.all.comment(href="http://") 
                                                | Read all comments&nbsp;
                                                i.icon-angle-right


    // FOOTER WIDGETS
    aside.region.footer-widgets.base-invert(role="complementary")
        .container
            .row
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-about
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-categories
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-link
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-newsletter 
                    mixin widget-woo-featured-products