//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap

//- content
block content
    // HEADLINE
    .headline.base-secondary(style='background-image: url(assets/images/top_view.jpg); background-attachment: fixed;')
        div(style='background-color: rgba(10,0,50, 0.30); height: 100%;')
            .container
                .row-fluid.vertically-centered
                    .span12
                        .hero-unit
                            // LOGO
                            .logo-big
                                img(src="assets/images/logo-big1.png", alt="suave logo")
                            h1 Introducing: Suave
                            p
                                | Minimalist Business WordPress Theme.
                                | Built with simplicity and flexibility in mind.
                                br
                                | Perfect for various business needs.
                            // CTA
                            p
                                a.btn.btn-primary.btn-large.btn-cta Learn more 
    // INTRO
    .region(style='background-image: url(assets/images/pattern1.jpg); background-attachment: fixed;')
        .container
            .row-fluid
                .span12.copy-center
                    h2
                        | Suave is Business WordPress Theme Built for Your Needs.
                    p.sub-copy
                        | Collaboratively <a href="">administrate</a> empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                    // CTA
                    p
                        a.btn.btn-primary.btn-large Buy Theme 
                        | &nbsp;&nbsp;or
                        a.btn.btn-link.btn-large See Features
    // OUR SERVICES
    .region
        .container
            .row-fluid.copy-center
                i.icon-gears.icon-muted.icon-title
                h2
                    | Our Services
                p.sub-copy
                    | Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service.
            // SERVICES
            .row-fluid.widen-top-gap
                .span4.copy-center
                    i.icon-html5.icon-6x.icon-simple-red
                    h4 Web Design
                    p.
                        Here's the story of a lovely lady who was bringing up three very lovely girls. Just sit right back and you'll hear a tale a tale.
                    a.btn.btn-primary.btn-mini Learn more
                .span4.copy-center
                    i.icon-code.icon-6x.icon-simple-green
                    h4 Web Development
                    p.
                        Said Californ'y is the place you ought to be So they loaded up the truck and moved to Beverly. Hills that is. Swimmin' pools movie stars.
                    a.btn.btn-primary.btn-mini Learn more
                .span4.copy-center
                    i.icon-mobile-phone.icon-6x.icon-simple-yellow
                    h4 Mobile App Development
                    p.
                        The movie star the professor and Mary Ann here on Gilligans Isle. We're gonna do it. On your mark get set and go now. 
                    a.btn.btn-primary.btn-mini Learn more
    // PORTFOLIO
    .region.base-invert.reset-vertical-gap
        .container-fluid.container-full
            .heading-alt
                .container
                    h3 Portfolio
                    p.sub-copy
                        | Our latest and proudest works and projects.
                    .pull-right.icon-action
                        a(href="")
                            i.icon-external-link
            ul.portfolio-slider-full
                li.portfolio-item
                    div
                        img(src="assets/images/porto3.jpg", alt="item 1")
                        .portfolio-info
                            h4 Lorem Ipsum Dolor Sit Amet 
                            a.btn.btn-white(href="") See Project
                li.portfolio-item
                    div   
                        img(src="assets/images/porto2.jpg", alt="item 1")
                        .portfolio-info
                            h4 The movie star the professor
                            a.btn.btn-white(href="") See Project
                li.portfolio-item
                    div
                        img(src="assets/images/porto1.jpg", alt="item 1")
                        .portfolio-info
                            h4 Dynamically innovate resource-leveling
                            a.btn.btn-white(href="") See Project
            .portfolio-slider-nav.holder
                a.portfolio-slider-nav-prev(href="")
                    i.icon-chevron-left
                a.portfolio-slider-nav-next(href="")
                    i.icon-chevron-right
