//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap

//- content
block content
    // HEADLINE
    .headline(style='background-image: url(assets/images/top_view.jpg); background-attachment: fixed; background-size:cover')
        .container
            section.vertically-centered.hero-unit
                header
                    // LOGO
                    .logo-big
                        img(src="assets/images/logo-big1.png", alt="suave logo")
                    h1 Introducing: Suave
                p
                    | Multipurpose WordPress Theme.
                    | Built with simplicity and flexibility in mind.
                    | Perfect for various business needs.
                // CTA
                p
                    a.btn.btn-primary.btn-lg.btn-cta Buy Now 

    // INTRO
    .region(style='background-image: url(assets/images/pattern1.jpg); background-attachment: fixed;')
         section.copy-center.container
            h2
                | Suave is Multipurpose WordPress Theme.
            p.sub-copy
                | Collaboratively <a href="">administrate</a>&nbsp;empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
            // CTA
            p
                a.btn.btn-primary.btn-lg Buy Theme 
                | &nbsp;&nbsp;or
                a.btn.btn-link.btn-lg See Features

    // OUR SERVICES
    section.region.services.reset-top-gap
        header.heading-alt
            .container
                h3 Our Services
                .pull-right.icon-action
                    a(href="")
                        i.icon-external-link

        // SERVICES
        .container.widen-top-gap
            p.sub-copy
                | Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service.
            .row.widen-top-outergap
                article.col-md-4.col-lg-4.col-sm-4.col-xs-12.copy-center
                    header
                        i.icon-html5.icon-6x.icon-simple-red
                        h4 Web Design
                    div
                        p.
                            Here's the story of a lovely lady who was bringing up three very lovely girls. Just sit right back and you'll hear a tale a tale.
                        a.btn.btn-primary.btn-xs Learn more
                article.col-md-4.col-lg-4.col-sm-4.col-xs-12.copy-center
                    header
                        i.icon-code.icon-6x.icon-simple-green
                        h4 Web Development
                    div
                        p.
                            Said Californ'y is the place you ought to be So they loaded up the truck and moved to Beverly. Hills that is. Swimmin' pools movie stars.
                        a.btn.btn-primary.btn-xs Learn more
                article.col-md-4.col-lg-4.col-sm-4.col-xs-12.copy-center
                    header
                        i.icon-mobile-phone.icon-6x.icon-simple-yellow
                        h4 Mobile App Development
                    div
                        p.
                            The movie star the professor and Mary Ann here on Gilligans Isle. We're gonna do it. On your mark get set and go now professor. 
                        a.btn.btn-primary.btn-xs Learn more

    // PORTFOLIO
    section.region.reset-vertical-gap.container.container-full
        // HEADING ALTERNATIVE
        header.heading-alt
            .container
                h3 Portfolio
                p.sub-copy
                    | Our latest and proudest works and projects.
                .pull-right.icon-action
                    a(href="")
                        i.icon-external-link
        // PORTFOLIO SLIDER
        .slider
            ul.portfolio-slider-full
                li.portfolio-item
                    img(src="assets/images/porto3.jpg", alt="item 1")
                    .portfolio-info
                        h4 Lorem Ipsum Dolor Sit Amet 
                        a.btn.btn-white(href="") See Project
                li.portfolio-item
                    img(src="assets/images/porto2.jpg", alt="item 1")
                    .portfolio-info
                        h4 The movie star the professor
                        a.btn.btn-white(href="") See Project
                li.portfolio-item
                    img(src="assets/images/porto1.jpg", alt="item 1")
                    .portfolio-info
                        h4 Dynamically innovate resource-leveling
                        a.btn.btn-white(href="") See Project
        // PORTFOLIO SLIDER NAV
        .portfolio-slider-nav
            a.portfolio-slider-nav-prev(href="")
                i.icon-chevron-left
            a.portfolio-slider-nav-next(href="")
                i.icon-chevron-right

    // TESTIMONIAL
    .region.testimonial.container
        .copy-center
            i.icon-bullhorn.icon-muted.icon-title
            blockquote.copy-quote
                | "Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but media information without cross-media value quickly maximize timely deliverables."
                span.name − <strong>John William Doe</strong>, Aestik
            .testimonial-slider-nav
                a(href="") 
                    i.icon-circle-blank
                a(href="") 
                    i.icon-circle-blank
                a(href="") 
                    i.icon-circle-blank

    // SUBSCRIBE FORM
    .region.base-quaternary.subscribe
        section.container 
            h4.
                Get the latest news and updates. We promise, we won't spam you.
            form.form-inline(id="", method="", action="", role="form").pull-right
                .form-group
                    label.sr-only(for="subscribe-form") Email Address
                    input.form-control(type="email", placeholder="Type your email here", id="subscribe-form")
                button.btn.btn-primary(type="submit") Submit

    // RECENT POST
    section.region.reset-vertical-gap
        // HEADING ALTERNATIVE
        header.heading-alt
            .container
                h3 Recent Posts
                p.sub-copy
                    | Our Thoughts on Many Things
                .pull-right.icon-action
                    a(href="")
                        i.icon-external-link
        .container
            .row.blog-posts.widen-vertical-outergap
                .col-md-4.col-lg-4.col-sm-4
                    article.thumbnail.post-thumbnail
                        .post-thumbnail-image
                            img(src="assets/images/porto2.jpg", alt="")
                        .caption
                            h4 
                                a(href="") Link climb leg rub face on everything
                            span.post-date
                                | January, 1st 2013
                            p.
                                Celery seakale desert raisin taro wakame pea sprouts broccoli rabe courgette rock melon.
                            a(href="").pull-right Read more&nbsp;
                                i.icon-angle-right
                .col-md-4.col-lg-4.col-sm-4
                    article.thumbnail.post-thumbnail
                        .post-thumbnail-image
                            img(src="assets/images/porto1.jpg", alt="")
                        .caption
                            h4 
                                a(href="") Bugger bag egg's old boy willy jolly scrote
                            span.post-date
                                | January, 1st 2013
                            p.
                                Pommy ipsum gallivanting around bit of a div chuffed chap stupendous gosh horses for courses.
                            a(href="").pull-right Read more&nbsp;
                                i.icon-angle-right
                .col-md-4.col-lg-4.col-sm-4
                    article.thumbnail.post-thumbnail
                        .post-thumbnail-image
                            img(src="assets/images/porto3.jpg", alt="")
                        .caption
                            h4 
                                a(href="") Caerphilly swiss fromage frais brie cheese
                            span.post-date
                                | January, 1st 2013
                            p.
                                Roquefort cheese strings who moved my cheese. Blue castello brie goat when the cheese comes out.
                            a(href="").pull-right Read more&nbsp;
                                i.icon-angle-right

    // FOOT CTA
    .region.base-invert.reset-vertical-gap(style='background-image: url(assets/images/cta-foot-blur.jpg); background-attachment: fixed;')
        div(style='background-color: rgba(0,0,0, 0.50); height: 100%;')
            section.container.widen-vertical-gap.marketing
                h3 So, What Are You Waiting For? 
                p 
                    a.btn.btn-primary.btn-lg.btn-cta Buy This Theme Now! 

    // CLIENT LIST
    .region.base-greyscale
        section.container
            header.copy-center
                h3 Our Clients
            .copy-center.client-list
                a(href="http://") 
                    img(src="assets/images/HTML5_3D.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Connectivity.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Device.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Multimedia.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Offline.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Performance.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Semantics.png", alt="")
                a(href="http://") 
                    img(src="assets/images/HTML5_Styling.png", alt="")

    // Footer Widgets
    include inc/footer-widget