//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap

//- content
block content

    .headline.base-secondary(style='background-image: url(http://24.media.tumblr.com/553af9250544617df5691941ac62d393/tumblr_mnh1uhYnog1st5lhmo1_1280.jpg);')
        div(style='background-color: rgba(10,0,50, 0.75); height: 100%;')
            .container
                .row-fluid.vertically-centered
                    .span12
                        .hero-unit
                            h1 Introducing: Suave,
                            p
                                | Minimalist Business Theme for Bootstrap.
                                br
                                | Built with simplicity and flexibility in mind.
                                br
                                | Perfect for various business needs.
                            p
                                a.btn.btn-primary.btn-large Learn more 
    .region.base-tertiary
        .container
            .row-fluid
                .span8.offset2
                    h1
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .region
        .container
            .row-fluid
                h1
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                ul.thumbnails
                    li.span4
                        .thumbnail
                            img(src='http://placehold.it/400x200', alt='')
                            .caption
                                h3 Thumbnail label
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#') Action
                                    a.btn(href='#') Action
                    li.span4
                        .thumbnail
                            img(src='http://placehold.it/400x200', alt='')
                            .caption
                                h3 Thumbnail label
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#') Action
                                    a.btn(href='#') Action
                    li.span4
                        .thumbnail
                            img(src='http://placehold.it/400x200', alt='')
                            .caption
                                h3 Thumbnail label
                                p
                                    | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                p
                                    a.btn.btn-primary(href='#') Action
                                    a.btn(href='#') Action
    .region.base-tertiary
        .container
            .row-fluid
                .span4
                    .bg-fc0
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                .span4
                    .bg-fc0
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                .span4
                    .bg-fc0
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.

