//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap | Single Post

//- content
block content
    
    article
        // PAGE TITLE
        mixin page-title("Climb leg rub face on everything give attitude nap all day for under the bed.")

        // POST CONTENT
        .region.reset-vertical-gap
            .container.post-content
                .row
                    .col-md-9.col-lg-9.col-sm-12.col-xs-12
                        .post-meta
                            i.icon-pencil.icon-post-format
                            span.post-date 1 January, 1st 2013
                            .post-meta-dot-separator 
                                | .
                            span.post-category
                                i.icon-circle-blank
                                a(href="http://") Tooklit
                                a(href="http://") Photography
                            .post-meta-dot-separator 
                                | .
                            span.post-tag
                                i.icon-tag
                                a(href="http://") Tooklit
                                a(href="http://") Photography
                            .post-meta-dot-separator 
                                | .
                            span.post-author
                                i.icon-user
                                a(href="http://") John William Doe
                        img(src="assets/images/blog.jpg", alt="blog image")
                        span.post-image-caption Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.
                        p 
                            | Veggies sunt bona vobis, proinde vos postulo esse magis broccoli rabe horseradish bush tomato tigernut seakale salsify spring onion tatsoi gram bok choy. Cress cauliflower black-eyed pea garlic wattle seed parsley cress yarrow spinach squash turnip spring onion sorrel cabbage. Caulie courgette garbanzo corn yarrow peanut bell pepper broccoli sierra leone bologi gumbo. Grape turnip garlic tomatillo silver beet cauliflower turnip greens chickpea gram.
                        p
                            | Turnip greens napa cabbage potato taro tatsoi black-eyed pea bamboo shoot chickweed cauliflower turnip radicchio wakame sweet pepper kale rutabaga swiss chard. Broccoli rabe parsnip groundnut salad coriander onion plantain tomatillo gumbo. Kale squash yarrow winter purslane arugula celery swiss chard lentil watercress celtuce. Garlic broccoli rabe summer purslane grape kakadu plum sea lettuce pea bamboo shoot courgette silver beet pumpkin soko catsear kale zucchini prairie turnip lentil radicchio. Cress welsh onion burdock courgette salad jícama lettuce caulie endive mustard kale lotus root beet greens bunya nuts sorrel. Chard kohlrabi radicchio cauliflower garbanzo quandong coriander chickweed zucchini shallot bok choy pumpkin bush tomato salsify burdock water chestnut sea lettuce green bean. Onion pea sprouts corn gram salsify cabbage shallot prairie turnip bitterleaf aubergine ricebean burdock bok choy summer purslane melon. Earthnut pea parsnip ricebean avocado chard salad. Endive artichoke broccoli rabe daikon komatsuna bok choy tomatillo turnip radish rock melon. Mustard fava bean lettuce catsear bunya nuts onion water spinach rock melon scallion kale mustard spinach soybean. Caulie endive rutabaga fava bean sierra leone bologi leek chicory okra cucumber bitterleaf gram lotus root plantain napa cabbage lettuce.
                        h3 Tomato summer purslane beetroot
                        p 
                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                        p
                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.
                        p 
                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                        p
                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.
                        p 
                            | Prairie turnip dulse winter purslane napa cabbage quandong lentil turnip eggplant parsnip pea garlic kakadu plum. Bamboo shoot turnip greens artichoke kale aubergine groundnut komatsuna gram courgette tomatillo salsify bush tomato ricebean prairie turnip sierra leone bologi zucchini. Squash watercress cabbage pea sprouts asparagus courgette kombu daikon broccoli rabe dandelion carrot chicory black-eyed pea bunya nuts grape. Spinach turnip greens tomato komatsuna plantain salsify rutabaga. Carrot lotus root tatsoi azuki bean garbanzo collard greens kombu welsh onion water spinach.
                        p
                            | Soybean broccoli maize lotus root pea sprouts fava bean komatsuna onion rock melon. Cauliflower lettuce tigernut caulie azuki bean pumpkin earthnut pea ricebean chicory fennel bitterleaf sea lettuce silver beet water spinach celery artichoke. Kakadu plum courgette avocado shallot okra scallion tatsoi wattle seed salad chickweed.Amaranth cabbage kale turnip greens prairie turnip burdock cress soko tatsoi avocado kohlrabi grape desert raisin garbanzo taro. Horseradish cauliflower kale collard greens water chestnut rock melon sierra leone bologi broccoli fennel prairie turnip parsnip soko. Green bean garlic sorrel prairie turnip avocado salsify arugula silver beet caulie daikon. Tigernut tomato quandong garlic jícama amaranth endive spinach eggplant broccoli water chestnut. Plantain chicory welsh onion chickpea daikon endive peanut.

                    aside.col-md-3.col-lg-3.col-sm-12.col-xs-12.sidebar-widget
                        .sidebar-widget
                            mixin widget-categories
                            mixin widget-search
                            mixin widget-popular-post
                            mixin widget-tags
                            mixin widget-woo-featured-products
                            mixin widget-recent-comments

    /// Footer Widgets
    aside.region.footer-widgets.base-invert
        .container
            .row
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-about
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-categories
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-link
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-newsletter 
                    mixin widget-woo-featured-products