//- 
    =====================================================================
    * Index Page
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

extends inc/master

//- title
block title
    title Suave - Minimalist Business Theme for Bootstrap | Single Post

//- content
block content
    
    article
        // PAGE TITLE
        mixin page-title("Widgets")

        // POST CONTENT
        .region.reset-vertical-gap
            .container.post-content
                .row
                    aside.col-md-3.col-lg-3.col-sm-12.col-xs-12.sidebar-widget
                        .sidebar-widget
                            mixin widget-categories
                            mixin widget-archive
                            mixin widget-recent-comments
                            mixin widget-woo-onsale
                            mixin widget-woo-featured-products
                            mixin widget-woo-product-search
                            mixin widget-woo-recent-reviews
                            mixin widget-woo-recently-viewed
                    aside.col-md-3.col-lg-3.col-sm-12.col-xs-12.sidebar-widget
                        .sidebar-widget
                            mixin widget-search
                            mixin widget-archive-dropdown
                            mixin widget-recent-post
                            mixin widget-meta
                            mixin widget-rss
                            mixin widget-woo-tags
                            mixin widget-woo-layered-nav
                            mixin widget-woo-layered-nav-dropdown
                            mixin widget-woo-layered-nav-filters
                    aside.col-md-3.col-lg-3.col-sm-12.col-xs-12.sidebar-widget
                        .sidebar-widget
                            mixin widget-popular-post
                            mixin widget-link-icons
                            mixin widget-woo-best-sellers
                            mixin widget-woo-product-categories
                            mixin widget-woo-new-products
                            mixin widget-woo-top-rated
                    aside.col-md-3.col-lg-3.col-sm-12.col-xs-12.sidebar-widget
                        .sidebar-widget
                            mixin widget-tags
                            mixin widget-newsletter
                            mixin widget-categories-dropdown
                            mixin widget-pages
                            mixin widget-text
                            mixin widget-woo-random-products
                            mixin widget-woo-cart

    // Footer Widgets
    aside.region.footer-widgets.base-invert
        .container
            .row
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-about
                    mixin widget-archive
                    mixin widget-recent-comments
                    mixin widget-woo-onsale
                    mixin widget-woo-featured-products
                    mixin widget-woo-product-search
                    mixin widget-woo-recent-reviews
                    mixin widget-woo-recently-viewed
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-categories
                    mixin widget-search
                    mixin widget-archive-dropdown
                    mixin widget-recent-post
                    mixin widget-meta
                    mixin widget-rss
                    mixin widget-woo-tags
                    mixin widget-woo-layered-nav
                    mixin widget-woo-layered-nav-dropdown
                    mixin widget-woo-layered-nav-filters
                .col-md-2.col-lg-2.col-sm-6.col-xs-6
                    mixin widget-link
                    mixin widget-popular-post
                    mixin widget-link-icons
                    mixin widget-woo-best-sellers
                    mixin widget-woo-product-categories
                    mixin widget-woo-new-products
                    mixin widget-woo-top-rated
                .col-md-4.col-lg-4.col-sm-12.col-xs-12
                    mixin widget-newsletter 
                    mixin widget-tags
                    mixin widget-newsletter
                    mixin widget-categories-dropdown
                    mixin widget-pages
                    mixin widget-text
                    mixin widget-woo-random-products
                    mixin widget-woo-cart