// -----------------------------------------------------------------
// * [Headline Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

.headline{
    margin-top: -80px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;

    .hero-unit{
        background: none;
        padding: 0;
        font-weight: normal;
        margin-bottom: 0;

        .logo-big {
            width: 68px;
            margin: 0px auto;
            img {
                width: 68px;
                height: 70px; 
            }
        }

        h1{
            font-family: @font-2;
            font-size: @heading-hero-fz/1.7;
            font-weight: 100;
            text-align: center;
            margin: 1em auto 0px;
        }

        p{
            margin-top: 20px;
            margin-bottom: 40px;
            color: @default-accent;
            font-family: @font-1;
            font-weight: 300;
            font-size: @body-fz-lg;
            text-align: center;
            line-height: @line-height-med;
        }
    }

}
