// -----------------------------------------------------------------
// * [Text & Typography Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

/* [Global Typo]
-------------------------------------------------------------------*/
.sub-copy {
    margin: 0px auto 30px;
    width: 80%;
    line-height: @line-height-med;
    font-size: @body-fz-xl;
    text-align: center;
}
.copy-center {
    text-align: center;
    h1, 
    h2 {
        font-weight: 300;
        letter-spacing: @ls-nr;
    }
    h1,
    h2, 
    h3 {
        width: 90%;
        margin: 0px auto 30px;
        transform: translate3d(0, 0, 0);
        transition: all .8s ease;
    }
    .sub-copy {
        width: 80%;
        line-height: @line-height-med;
        font-size: @body-fz-xl;
        margin: 0px auto 30px;
    }
}

.heading-alt {
    background-color: fadeout(@invert-background, 5%);
    position: relative;
    
    padding: 25px 0px;

    height: auto;
    width: 100%;
    text-align: left;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        padding: 0px;
        margin: 0px;
        color: @default-accent;
        font-weight: 100;

        //*-----[Responsive 768++]-----*/
        @media screen and (min-width: 768px) {
            .inlineDisplay();
        }
    }
    h4, 
    h5,
    h6 {
        font-weight: 300;
    }
    p.sub-copy {
        display: block;
        
        margin: 0px;

        color: @invert-text;
        font-size: @body-fz-df;
        line-height: @line-height-base;
        text-align: left;

        //*-----[Responsive 768++]-----*/
        @media screen and (min-width: 768px) {
            .inlineDisplay();
            
            margin-left: 20px;
            margin-top: 5px;
        }
    }
    .icon-action {
        position: absolute;
        right: 20px;
        top: 10px;
        margin-top: 0px;

        //*-----[Responsive 768++]-----*/
        @media screen and (min-width: 768px) {
            position: relative;
            right: 0px;
            margin-top: 0px;
        }

    }
}

/* [Headline Typo]
-------------------------------------------------------------------*/
.hero-unit {
    h1 {
        color: @default-background;
        letter-spacing: @ls-xn;
    }
}

/* [Testimonial Typo]
-------------------------------------------------------------------*/
.copy-quote {
    line-height: @line-height-med;
    font-family: @font-2;
    font-size: @body-fz-lg;
    span {
        display: block;
        margin-top: 30px;
        font-family: @font-1;
        font-size: @body-fz-df;
    }
}