// -----------------------------------------------------------------
// * [Button Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

.button-colorscheme(@bgBase, @txBase){
    margin-top: -2px;
    background-color    : transparent;
    border-color        : @bgBase;
    border-radius       : 3px;
    color               : @txBase;
    border: 1px solid @txBase;

    &:hover{
        background-color    : transparent;
        border-color        : darken(@bgBase, 25%);
        color               : darken(@bgBase, 25%);
    }

    &:focus, &.focus,
    &:active, &.active{
        margin-top: 0px;
        background-color    : transparent;
        border-color        : lighten(@bgBase, 15%);
        color               : lighten(@bgBase, 15%);
        box-shadow          : none;
    }
}

.btn{
    background-image: none;
    .border-radius(3px);
    text-shadow: none;
    .box-shadow(none);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: @font-1;
    padding: 0 20px;
    line-height: 36px;

    &.btn-large{
        font-size: 16px;
        font-weight: 500;
        line-height: 48px;
        padding: 0 30px;
    }

    &.btn-small {
        font-size: 12px;
        font-weight: 500;
        line-height: 30px;
        padding: 0 20px;
    }

    &.btn-mini {
        font-size: 11px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 10px;
    }

    .button-colorscheme(@btn-default, @btn-default);

    &.btn-primary{
        .button-colorscheme(@btn-primary, @btn-primary);
    }

    &.btn-info{
        .button-colorscheme(@btn-info, @btn-info);
    }

    &.btn-success{
        .button-colorscheme(@btn-success, @btn-success);
    }

    &.btn-warning{
        .button-colorscheme(@btn-warning, @btn-warning);
    }

    &.btn-danger{
        .button-colorscheme(@btn-danger, @btn-danger);
    }

    &.btn-inverse{
        .button-colorscheme(darken(@btn-text, 5%), @btn-inverse);
    }

    &.btn-white{
        .button-colorscheme(@default-background, @default-background);
        &:hover {
            border-color: darken(@default-background, 10%);
            color: darken(@default-background, 10%);
        }
    }

    &.btn-link{
        .button-colorscheme(@btn-link, @btn-link);
        border: none;
        &:hover {
            text-decoration: none;
        }
    }

    &.btn-cta {
        font-family: @font-1;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        .button-colorscheme(@default-background, @default-background);
        border-left: 1px solid @btn-primary;
        &:hover{
            background-color : transparent;
            border: 1px solid @btn-primary;
            color: @btn-primary;
        }
    }

}

.btn-group > .btn,
.btn-group > .popover {
    font-size: 10px;
}
