// -----------------------------------------------------------------
// * [Navbar Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

.navbar{
    border-bottom: 2px solid @default-accent;
    > .navbar-inner{
        background-color: @default-background;
        box-shadow: none;
        padding: 10px 0;
    }
    .brand{
        padding-top: 0;
        padding-bottom: 0;
        color: @default-accent;
        letter-spacing: -1.0px;
        line-height: 44px;
        font-family: @font-3;
        font-size: 32px;
        font-weight: 400;
    }
    ul.nav{
        margin: 0;
        display: inline-block;
        > li{
            line-height: 24px;
            margin: 0 0 0 50px ;
            > a{
                margin-top: 18px;
                padding: 0;
                line-height: 18px;
                font-size: 12px;
                font-family: @font-3;
                font-weight: 700;
                text-transform: uppercase;
                border-bottom: 3px solid transparent;
            }
            &:hover > a{
                border-bottom: 2px solid @default-accent;
            }
            &.active > a{
                background: none;
                .box-shadow(none);
                border-bottom: 3px solid;

                &:hover{
                    background: none;
                    .box-shadow(none);
                }
            }

            &.dropdown{
                &.open > .dropdown-toggle{
                    background: none;
                    border-bottom: 3px solid;
                }
                > .dropdown-toggle .caret{
                    border-bottom-color: @default-accent;
                    border-top-color: @default-accent;
                    margin-left: 10px;
                    margin-top: 7px;
                }
            }
        }
        .dropdown-toggle {
            .caret {
                border-bottom-color: @default-accent;
                border-top-color: @default-accent;
                margin-left: 10px;
                margin-top: 7px;
            }   
        }
    }
    .btn,.btn-group{
        margin-top: -2px;
    }
    .button-wrap{
        float: left;
        margin-top: 6px;
        margin-left: 50px;
        .btn{
            margin-left: 10px;
            /*margin-top: 0px;*/
        }
    }
    &.main-navigation{
        margin-bottom: 0;
        left: 0;
        right: 0;

        &.navbar-absolute-bottom{
            position: absolute;
        }

        > .navbar-inner{
            .box-shadow(~'0 0 2px 1px rgba(0,0,0,0.25)');
            .border-radius(0);
            /*background-color: @invert-background;*/
            /*color: @invert-text;*/
            /*background-color: @mainnav-background;*/
            /*color: @mainnav-text;*/
            background-image: none;
            border: none;
            > .container{
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
