// -----------------------------------------------------------------
// * [Text & Typography Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

.copy-intro {
    text-align: center;
    h2 {
        transform: translate3d(0, 0, 0);
        transition: all .8s ease;
    }
    p {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @heading-color;
    font-family: @font-2;
}

h1, 
h2 {
    margin-bottom: 30px;
    font-weight: 400;
}