// -----------------------------------------------------------------
// * [LESS Variables]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

// [Typography Variables]
// ------------------------------------------------------------------
@font-1: "Maven Pro";
@font-2: "Roboto Slab";
@base-font-size: 14px;
@base-line-height: 20px;
@heading-color : #444444;
@muted-color: lighten(#7c7c7c, 30%);

// [Palettes]
// ------------------------------------------------------------------

//*-----[Default]-----*/
@default-background:        #fff;
@default-text:              #7c7c7c;
@default-accent:            #ff7755;

//*-----[Secondary]-----*/
@secondary-background:      #5577ff;
@secondary-text:            #ffffff;
@secondary-accent:          #CCCCCC;

//*-----[Tertiary]-----*/
@tertiary-background:       #f8f8f8;
@tertiary-text:             #7c7c7c;
@tertiary-accent:           #444444;

//*-----[quaternary]-----*/
@quaternary-background:       #ffe5cd;
@quaternary-text:             #7c7c7c;
@quaternary-accent:           #5577ff;

//*-----[Invert]-----*/
@invert-background:         #3a3a3a;
@invert-text:               #ffffff;
@invert-accent:             #88aaff;


// [Form]
// ------------------------------------------------------------------
@input-border:              #dddddd;
@input-background:          #dddddd;
@input-border-focus:        #999999;
@input-background-focus:    #ffffff;


// [Button Colorscheme]
// ------------------------------------------------------------------
@btn-text:          #444444;
@btn-default:       #444444;
@btn-primary:       #ff7755;
@btn-info:          #3d9fe4;
@btn-success:       #87ac24;
@btn-warning:       #f69f24;
@btn-danger:        #e50808;
@btn-inverse:       #a5a5a5;
@btn-link:          #ff7755;

