// -----------------------------------------------------------------
// * [LESS Variables]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

// [Typography Variables]
// ------------------------------------------------------------------
@font-1: "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, Sans-serif;
@font-2: "Roboto Slab";
@font-3: "Maven Pro";
@base-font-size: 14px;
@base-line-height: 20px;
@heading-color : #444444;

// [Palettes]
// ------------------------------------------------------------------

//*-----[Default]-----*/
@default-background:        #fff;
@default-text:              #7c7c7c;
@default-accent:            #ff7755;

//*-----[Secondary]-----*/
@secondary-background:      #5577ff;
@secondary-text:            #ffffff;
@secondary-accent:          #CCCCCC;

//*-----[Tertiary]-----*/
@tertiary-background:       #f8f8f8;
@tertiary-text:             #7c7c7c;
@tertiary-accent:           #5577ff;

//*-----[quaternary]-----*/
@quaternary-background:       #ffe5cd;
@quaternary-text:             #7c7c7c;
@quaternary-accent:           #5577ff;

//*-----[Invert]-----*/
@invert-background:         #3a3a3a;
@invert-text:               #ffffff;
@invert-accent:             #88aaff;


// [Form]
// ------------------------------------------------------------------
@input-border:              #dddddd;
@input-background:          #dddddd;
@input-border-focus:        #999999;
@input-background-focus:    #ffffff;


// [Button Colorscheme]
// ------------------------------------------------------------------
@btn-text:          #ffffff;
@btn-default:       #999999;
@btn-primary:       #ff7755;
@btn-info:          #88aaff;
@btn-success:       #5577ff;
@btn-warning:       #FFCC00;
@btn-danger:        #DD3322;
@btn-inverse:       #666666;
@btn-link:          #999999;

