<% file  = "index.html" %>
<% title = "Suave - Minimalist Business Theme for Bootstrap" %>
<% include partial/header %>

<div class="headline base-secondary">
    <div class="container">
        <div class="row-fluid vertically-centered">
            <div class="span12">
                <div class="hero-unit text-center">
                    <h1>Introducing: Suave</h1>
                    <p class="lead">Minimalist Business Theme for Bootstrap</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis sem arcu, auctor eu feugiat eget.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-large"> Learn more </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="region base-tertiary">
    <div class="container">
        <div class="row-fluid">

            <div class="span8 offset2">
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </h1>
            </div>

        </div>
    </div>
</div>


<div class="region">
    <div class="container">
        <div class="row-fluid">

            <ul class="thumbnails">
                <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="" />
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                    </div>
                </div>
                </li>
                <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="" />
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                    </div>
                </div>
                </li>
                <li class="span4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x200" alt="" />
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                    </div>
                </div>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="region base-tertiary">
    <div class="container">
        <div class="row-fluid">

            <div class="span4">
                <div class="bg-fc0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                </div>
            </div>

            <div class="span4">
                <div class="bg-fc0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                </div>
            </div>

            <div class="span4">
                <div class="bg-fc0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem arcu, auctor eu feugiat eget, suscipit vitae magna. Duis vitae sapien eget tellus convallis accumsan ac eu leo. Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                </div>
            </div>

        </div>
    </div>
</div>

<% include partial/footer %>
