//- 
    =====================================================================
    * Footer Widget Partial
    *
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

aside.region.footer-widgets.base-invert
    .container
        .row
            .col-md-4.col-lg-4.col-sm-12.col-xs-12
                section.panel.panel-default.widget
                    header.panel-heading
                        h2.widget-heading About Us
                    .panel-body
                        p
                            | Suave is a Minimalist Business Theme for Bootstrap.
                            | Built with simplicity and flexibility in mind.
                            | Perfect for various business needs.
                        address
                            strong Twitter, Inc.
                            br
                            | 795 Folsom Ave, Suite 600
                            br
                            | San Francisco, CA 94107
                            br
                            abbr(title='Phone') Ph:
                            a(href='tel:123-4567890') 123-4567890
                        address
                            strong Full Name
                            br
                            a(href='mailto:#') first.last@example.com
            .col-md-2.col-lg-2.col-sm-6.col-xs-6
                section.panel.panel-default.widget
                    header.panel-heading
                        h2.widget-heading Dolor Sit Amet
                    .panel-body
                        ul.menu
                            li
                                a(href='#') Lorem Ipsum
                            li
                                a(href='#') Dolor Sit Amet
                            li
                                a(href='#') Consectetur Adipiscing Ulit
                            li
                                a(href='#') Duis Sem Arcu
                            li
                                a(href='#') Auctor Eu Feugiat Eget
                            li
                                a(href='#') Duis vitae
                            li
                                a(href='#') Suscipit Vitae Magna
            .col-md-2.col-lg-2.col-sm-6.col-xs-6
                section.panel.panel-default.widget
                    header.panel-heading
                        h2.widget-heading Dolor Sit Amet
                    .panel-body
                        ul.menu
                            li
                                a(href='#') Lorem Ipsum
                            li
                                a(href='#') Dolor Sit Amet
                            li
                                a(href='#') Consectetur Adipiscing Ulit
                            li
                                a(href='#') Duis Sem Arcu
                            li
                                a(href='#') Auctor Eu Feugiat Eget
                            li
                                a(href='#') Duis vitae
                            li
                                a(href='#') Suscipit Vitae Magna
            .col-md-4.col-lg-4.col-sm-12.col-xs-12
                section.panel.panel-default.widget
                    header.panel-heading
                        h2.widget-heading Join Our Newsletter
                    .panel-body
                        p
                            | Get our monthly newsletter, Latest news &amp; buzz.
                        p
                            form.form-inline(id="", method="", action="", role="form")
                                .form-group
                                    label.sr-only(for="subscribe-form") Email Address
                                    input.form-control(type="email", placeholder="Type your email here", id="subscribe-form")
                                button.btn.btn-primary(type="submit") Submit