//- 
    =====================================================================
    * Footer Partial
    *
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================

.region.site-footer.base-invert
    .container
        .row-fluid
            .span4
                h2 About Us
                p
                    | Suave is a Minimalist Business Theme for Bootstrap.
                    | Built with simplicity and flexibility in mind.
                    | Perfect for various business needs.
            .span2
                h2 Dolor Sit Amet
                ul.menu
                    li
                        a(href='#') Lorem Ipsum
                    li
                        a(href='#') Dolor Sit Amet
                    li
                        a(href='#') Consectetur Adipiscing Ulit
                    li
                        a(href='#') Duis Sem Arcu
                    li
                        a(href='#') Auctor Eu Feugiat Eget
                    li
                        a(href='#') Duis vitae
                    li
                        a(href='#') Suscipit Vitae Magna
            .span2
                h2 Contact Us
                address
                    strong Twitter, Inc.
                    br
                    | 795 Folsom Ave, Suite 600
                    br
                    | San Francisco, CA 94107
                    br
                    abbr(title='Phone') P:
                    | (123) 456-7890
                address
                    strong Full Name
                    br
                    a(href='mailto:#') first.last@example.com
            .span4
                h2 Join Our Newsletter
                p
                    | Get our monthly newsletter, ZURBnews. Latest news &amp; buzz.
                p
                    form.form-inline
                        input.input-medium(type='text', placeholder='Email')
                        input.btn(type='submit', value='Submit')
// JQUERY
script(src='assets/js/vendor/jquery.min.js')
// BOOTSTRAP 
script(src='assets/js/vendor/bootstrap.min.js')
// WAYPOINTS
script(src='assets/js/vendor/waypoints.min.js')
// FLEXSLIDER 
script(src='assets/js/vendor/jquery.flexslider-min.js')
// SUAVE 
script(src='assets/js/script.js')
// LIVERELOAD, REMOVED IT LATER 
script(src="http://localhost:35729/livereload.js")