//- 
    =====================================================================
    * Navbar Partial
    *
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================
    
.navbar.main-navigation
    .navbar-inner
        .container
            .row-fluid
                .span12
                    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='index.html') Suave.
                    .nav-collapse.collapse
                        .pull-right
                            ul.nav
                                li.dropdown
                                    a.dropdown-toggle(href='index.html', data-toggle='dropdown')
                                        | Home Pages
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#') Home Page 1
                                        li
                                            a(href='#') Home Page 2
                                        li
                                            a(href='#') Home Page 3
                                        li
                                            a(href='#') Home Page 4
                                        li
                                            a(href='#') Home Page 5
                                        li
                                            a(href='#') Home Page 6
                                        li
                                            a(href='#') Home Page 7
                                        li
                                            a(href='#') Home Page 8
                                        li
                                            a(href='#') Home Page 9
                                        li
                                            a(href='#') Home Page 10
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Sample Pages
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#') About Us
                                        li
                                            a(href='#') Services
                                        li
                                            a(href='#') Our Team
                                        li
                                            a(href='#') FAQ
                                        li
                                            a(href='#') Coming Soon Page
                                        li
                                            a(href='#') Error 404
                                        li
                                            a(href='#') Graph Statistics
                                        li
                                            a(href='#') Pricing Tables
                                        li
                                            a(href='#') Left Sidebar
                                        li
                                            a(href='#') Right Sidebar
                                        li
                                            a(href='#') Both Sidebar
                                li
                                    a(href='index.html') Features
                                li 
                                    a(href='index.html') Portfolio
                                li 
                                    a(href='index.html') Shortcodes
                                li 
                                    a(href='index.html') Blog
                                li 
                                    a(href='index.html') Contact
                            //- .button-wrap
                            //-     button.btn(type='button') View Demo
                            //-     button.btn.btn-primary(type='button') Buy Now!
