
        <div class="region site-footer base-invert">

            <div class="container">
                <div class="row-fluid">

                    <div class="span2">
                        <h2>Dolor Sit Amet</h2>
                        <ul class="menu">
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Dolor Sit Amet</a></li>
                            <li><a href="#">Consectetur Adipiscing Ulit</a></li>
                            <li><a href="#">Duis Sem Arcu</a></li>
                            <li><a href="#">Auctor Eu Feugiat Eget</a></li>
                            <li><a href="#">Duis vitae</a></li>
                            <li><a href="#">Suscipit Vitae Magna</a></li>
                        </ul>
                    </div>

                    <div class="span2">
                        <h2>Lorem Ipsum</h2>
                        <ul class="menu">
                            <li><a href="#">Duis sem arcu</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Duis vitae</a></li>
                            <li><a href="#">Consectetur Adipiscing Ulit</a></li>
                            <li><a href="#">Dolor Sit Amet</a></li>
                            <li><a href="#">Suscipit Vitae Magna</a></li>
                            <li><a href="#">Auctor Eu Feugiat Eget</a></li>
                        </ul>
                    </div>

                    <div class="span4 offset4">
                        <h2>Fusce at ligula vitae</h2>
                        <p>
                        Aliquam rhoncus scelerisque justo, vitae vehicula est accumsan eget. Nulla cursus ullamcorper aliquam. Vivamus eget tristique est. Ut vitae lacinia nisl. Fusce at ligula vitae ipsum auctor convallis sit amet vitae velit. Cras dapibus justo ut dolor tincidunt in suscipit purus tempor. Etiam in rutrum neque.
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <!-- jQuery-->
        <script src="./components/jquery/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="./components/bootstrap/js/bootstrap.min.js"></script>

        <!-- FlexSlider -->
        <script src="./components/flexslider/jquery.flexslider-min.js"></script>

        <!-- Suave -->
        <script src="./components/suave/js/script.js"></script>

    </body>
</html>

