
        <div class="region site-footer base-invert">

            <div class="container">
                <div class="row-fluid">

                    <div class="span4 ">
                        <h2>About Us</h2>
                        <p>
                        Suave is a Minimalist Business Theme for Bootstrap.
                        Built with simplicity and flexibility in mind.
                        Perfect for various business needs.
                        </p>
                    </div>

                    <div class="span2 ">
                        <h2>Dolor Sit Amet</h2>
                        <ul class="menu">
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Dolor Sit Amet</a></li>
                            <li><a href="#">Consectetur Adipiscing Ulit</a></li>
                            <li><a href="#">Duis Sem Arcu</a></li>
                            <li><a href="#">Auctor Eu Feugiat Eget</a></li>
                            <li><a href="#">Duis vitae</a></li>
                            <li><a href="#">Suscipit Vitae Magna</a></li>
                        </ul>
                    </div>



                    <div class="span2">
                        <h2>Contact Us</h2>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                        </address>
                    </div>



                    <div class="span4 ">
                        <h2>Join Our Newsletter</h2>
                        <p>
                        Get our monthly newsletter, ZURBnews. Latest news & buzz.
                        </p>
                        <p>
                        <form class="form-inline">
                            <input type="text" class="input-medium" placeholder="Email">
                            <input type="submit" class="btn" value="Submit">
                        </form>
                        </p>
                    </div>





                </div>
            </div>

        </div>

        <!-- jQuery-->
        <script src="./components/jquery/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="./components/bootstrap/js/bootstrap.min.js"></script>

        <!-- FlexSlider -->
        <script src="./components/flexslider/jquery.flexslider-min.js"></script>

        <!-- Suave -->
        <script src="./components/suave/js/script.js"></script>

    </body>
</html>

